html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightblue {
    background-color: lightblue;
}

h1 {
    text-align: center;
}

#container {
    width: 100%;
    max-width: 500px;
    min-height: 100%;
    margin: auto; /* This centers the container horizontally */
}

#date-picker-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#date-picker {
    width: 300px;
    height: 40px;
    padding: 5px;
    font-size: 17px;
    border: 3px solid #ccc;
    border-radius: 15px;
    margin: 10px;
    background-color: #fff;
    box-sizing: border-box;
}

.circle-border {
    width: 32px;
    height: 32px;
    border: 3px solid #bbb;
    border-radius: 50%;
    color:  #777;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
}

.circle-border:hover {
    opacity: 0.9;
}

#left-button {
    cursor: pointer;
    padding-right: 5px;
    padding-bottom: 5px;
}

#right-button {
    cursor: pointer;
    padding-left: 5px;
    padding-bottom: 5px;
}

/* invoices + total */
#report-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: auto;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

#invoices {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.invoice {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.invoice h2 {
    margin: 0 0 10px 0;
    font-size: 14px;
}

.invoice p {
    margin: 5px 0;
    font-size: 12px;
}

.invoice .line-item {
    margin-bottom: 10px;
}

.invoice .line-item p {
    margin: 5px 0;
    font-size: 12px;
}

.invoice-total {
    font-size: 16px;
    text-align: right;
}

.total-card {
    border: 5px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.total-sales-profit {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}

#loading {
  --d:22px;
  width: 4px;
  height: 4px;
  margin: 10px auto;
  border-radius: 50%;
  color: #25b09b;
  box-shadow:
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d))     calc(0*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d))      calc(-1*var(--d))    0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {transform: rotate(1turn)}
}
